[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-weight-tracker
Exec=harbour-weight-tracker
Name=Weight Tracker

[X-Sailjail]
Permissions=
OrganizationName=org.noureddine
ApplicationName=WeighTracker
